@font-face {
	font-family: 'OldChurchSlavic';
	src:url('fonts/BukyVede-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

.ocs {
  font-family: OldChurchSlavic;
  font-size: 110%;
}

.russ {
  font-style: italic;
}