<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }} by {{ site.account }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <h2>{{ site.subtitle }}</h2>

	<img src="{{ site.baseurl }}/images/menzenski_gravatar.jpg" alt="Matt Menzenski" height=183 width=183>
        
        <p></p>
	<a href="{{ site.baseurl }}/index.html">Home</a><br>
	<a href="{{ site.baseurl }}/cv.html">Curriculum Vitae</a><br>
        <a href="{{ site.baseurl }}/papers.html">Papers</a><br>
        <a href="{{ site.baseurl }}/blog.html">Blog</a><br>

	<p></p>
	Resources<br>
	<a href="{{ site.baseurl }}/nltk.html">NLTK Materials</a><br>

      </header>
      <section>
      {{ content }}
      </section>
      <footer>
      {% include footer.html %}
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
